.input-txt {
    background-color: rgb(255, 245, 232);
}

input {
    border-radius: 40px;
    font-size: 25px;
    padding: 0px 30px;
     margin: 10px; 
    border: 1px solid rgb(243, 75, 75) !important;
}

.input-not {
    height: 50px;
}

input::placeholder {
    font-family: "Bubblegum Sans";
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
    display: block;
}
@media (max-width: 1500px){ .navbar{ width: 1500px; } }
@media (max-width: 1485px){ .navbar{ width: 1485px; } }
@media (max-width: 1470px){ .navbar{ width: 1470px; } }
@media (max-width: 1455px){ .navbar{ width: 1455px; } }
@media (max-width: 1440px){ .navbar{ width: 1440px; } }
@media (max-width: 1425px){ .navbar{ width: 1425px; } }
@media (max-width: 1410px){ .navbar{ width: 1410px; } }
@media (max-width: 1395px){ .navbar{ width: 1395px; } }
@media (max-width: 1380px){ .navbar{ width: 1380px; } }
@media (max-width: 1365px){ .navbar{ width: 1365px; } }
@media (max-width: 1350px){ .navbar{ width: 1350px; } }
@media (max-width: 1335px){ .navbar{ width: 1335px; } }
@media (max-width: 1320px){ .navbar{ width: 1320px; } }
@media (max-width: 1305px){ .navbar{ width: 1305px; } }
@media (max-width: 1290px){ .navbar{ width: 1290px; } }
@media (max-width: 1275px){ .navbar{ width: 1275px; } }
@media (max-width: 1260px){ .navbar{ width: 1260px; } }
@media (max-width: 1245px){ .navbar{ width: 1245px; } }
@media (max-width: 1230px){ .navbar{ width: 1230px; } }
@media (max-width: 1215px){ .navbar{ width: 1215px; } }
@media (max-width: 1200px){ .navbar{ width: 1200px; } }
@media (max-width: 1185px){ .navbar{ width: 1185px; } }
@media (max-width: 1170px){ .navbar{ width: 1170px; } }
@media (max-width: 1155px){ .navbar{ width: 1155px; } }
@media (max-width: 1140px){ .navbar{ width: 1140px; } }
@media (max-width: 1125px){ .navbar{ width: 1125px; } }
@media (max-width: 1110px){ .navbar{ width: 1110px; } }
@media (max-width: 1095px){ .navbar{ width: 1095px; } }
@media (max-width: 1080px){ .navbar{ width: 1080px; } }
@media (max-width: 1065px){ .navbar{ width: 1065px; } }
@media (max-width: 1050px){ .navbar{ width: 1050px; } }
@media (max-width: 1035px){ .navbar{ width: 1035px; } }
@media (max-width: 1020px){ .navbar{ width: 1020px; } }
@media (max-width: 1005px){ .navbar{ width: 1005px; } }
@media (max-width: 990px){ .navbar{ width: 990px; } }
@media (max-width: 975px){ .navbar{ width: 975px; } }
@media (max-width: 960px){ .navbar{ width: 960px; } }
@media (max-width: 945px){ .navbar{ width: 945px; } }
@media (max-width: 930px){ .navbar{ width: 930px; } }
@media (max-width: 915px){ .navbar{ width: 915px; } }
@media (max-width: 900px){ .navbar{ width: 900px; } }
@media (max-width: 885px){ .navbar{ width: 885px; } }
@media (max-width: 870px){ .navbar{ width: 870px; } }
@media (max-width: 855px){ .navbar{ width: 855px; } }
@media (max-width: 840px){ .navbar{ width: 840px; } }
@media (max-width: 825px){ .navbar{ width: 825px; } }
@media (max-width: 810px){ .navbar{ width: 810px; } }
@media (max-width: 795px){ .navbar{ width: 795px; } }
@media (max-width: 780px){ .navbar{ width: 780px; } }
@media (max-width: 765px){ .navbar{ width: 765px; } }
@media (max-width: 750px){ .navbar{ width: 750px; } }
@media (max-width: 735px){ .navbar{ width: 735px; } }
@media (max-width: 720px){ .navbar{ width: 720px; } }
@media (max-width: 705px){ .navbar{ width: 705px; } }
@media (max-width: 690px){ .navbar{ width: 690px; } }
@media (max-width: 675px){ .navbar{ width: 675px; } }
@media (max-width: 660px){ .navbar{ width: 660px; } }
@media (max-width: 645px){ .navbar{ width: 645px; } }
@media (max-width: 630px){ .navbar{ width: 630px; } }
@media (max-width: 615px){ .navbar{ width: 615px; } }
@media (max-width: 600px){ .navbar{ width: 600px; } }
@media (max-width: 585px){ .navbar{ width: 585px; } }
@media (max-width: 570px){ .navbar{ width: 570px; } }
@media (max-width: 555px){ .navbar{ width: 555px; } }
@media (max-width: 540px){ .navbar{ width: 540px; } }
@media (max-width: 525px){ .navbar{ width: 525px; } }
@media (max-width: 510px){ .navbar{ width: 510px; } }
@media (max-width: 495px){ .navbar{ width: 495px; } }
@media (max-width: 480px){ .navbar{ width: 480px; } }
@media (max-width: 465px){ .navbar{ width: 465px; } }
@media (max-width: 450px){ .navbar{ width: 450px; } }
@media (max-width: 435px){ .navbar{ width: 435px; } }
@media (max-width: 420px){ .navbar{ width: 420px; } }
@media (max-width: 405px){ .navbar{ width: 405px; } }
@media (max-width: 390px){ .navbar{ width: 390px; } }
@media (max-width: 375px){ .navbar{ width: 375px; } }
@media (max-width: 360px){ .navbar{ width: 360px; } }
@media (max-width: 345px){ .navbar{ width: 345px; } }
@media (max-width: 330px){ .navbar{ width: 330px; } }
@media (max-width: 315px){ .navbar{ width: 315px; } }
@media (max-width: 300px){ .navbar{ width: 300px; } }
@media (max-width: 285px){ .navbar{ width: 285px; } }
@media (max-width: 270px){ .navbar{ width: 270px; } }
@media (max-width: 255px){ .navbar{ width: 255px; } }
@media (max-width: 240px){ .navbar{ width: 240px; } }
@media (max-width: 225px){ .navbar{ width: 225px; } }
@media (max-width: 210px){ .navbar{ width: 210px; } }
